@font-face {
	font-family: "Teko";
	font-style: normal;
	font-weight: 500;
	src: url("fonts/teko-500.woff2") format("woff2");
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
	overflow: hidden;
	color-scheme: dark;
	font-family: sans-serif;
	background: var(--bg-color);
	--bg-color: black;
	--text-color: white;
	--border-color: #777;
}

#previewColumn,
#editorColumn {
	display: flex;
	flex-direction: column;
	min-width: 100px;
	overflow: auto;
}

#previewColumn {
	width: 60vw;
	resize: horizontal;
}

.layout2 #previewColumn {
	order: 1;
	width: auto;
	flex: 1 1 100px;
	resize: none;
}

.layout2 #editorColumn {
	width: 40vw;
	flex: 0 0 auto;
	resize: horizontal;
}

#previewAll {
	background: black url(images/glass-desert-env.jpg) center;
	background-size: cover;
	border-bottom: 1px solid var(--border-color);
}

#preview {
	flex: 0 0.8 9.5em;
	overflow: visible;
}

#previewToolbar {
	flex-direction: row;
	padding-bottom: 0.5em;
}

#bRangeInput {
	flex-grow: 70;
	width: 70px;
}

#cRangeInput {
	flex-grow: 15;
	width: 15px;
}

#aRangeInput {
	flex-grow: 30;
	width: 30px;
}

.scores {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex: 1 1 auto;
	color: white;
	font-family: "Teko", sans-serif;
	font-weight: 500;
	font-size: 150%;
	text-align: center;
	overflow: auto;
}

.score {
	position: relative;
	margin: 0.75em;
	white-space: pre;
}

.bloom {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	mix-blend-mode: screen;
	filter: drop-shadow(0 0 1px #fffe) blur(7px);
}

#editorColumn {
	flex: 1 1 100px;
	display: flex;
	flex-direction: column;
	background: var(--bg-color);
	color: var(--text-color);
}

.toolbar {
	display: flex;
	flex-wrap: wrap;
}

#loadInput {
	width: 4em;
}

#loadInput option[value=""],
#fileInput {
	display: none;
}

#filenameInput {
	flex-grow: 1;
	width: 4em;
	padding: 0 0.5em;
	border: none;
}

#textInput {
	flex-grow: 1;
	width: 100%;
	min-width: 16em;
	min-height: 10em;
	background: inherit;
	color: inherit;
	font-family: monospace;
	outline: none;
	resize: none;
}

#textInput.error {
	border-color: red;
	outline: solid thin red;
}

#error {
	padding: 0.25em;
	background-color: darkred;
	font-family: monospace;
}

#errorMessage {
	cursor: pointer;
}

button {
	margin: 1px 1px 1px 0;
}

input[type="text"],
input[type="number"] {
	background: var(--bg-color);
	color: var(--text-color);
	font-family: monospace;
}

input[type="range"] {
	min-width: 4em;
}

label {
	margin-left: 1em;
	user-select: none;
}

#help {
	width: 100%;
	font-size: 80%;
}

#help td:first-child {
	padding: 0 1em;
	font-family: monospace;
	font-size: 125%;
	white-space: nowrap;
}

#help td:nth-child(3) {
	width: 5em;
}

#help input {
	width: 5em;
	border: none;
}

#help code {
	font-size: 125%;
}

form {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

textarea,
table,
td,
th {
	border: solid 1px #666;
	border-spacing: 0;
	border-collapse: collapse;
}

#colorInput {
	position: fixed;
	width: 20px;
	height: 20px;
	padding: 0;
	border: none;
}

#colorInput:hover {
	--border-color: var(--text-color);
}

#colorInput::-webkit-color-swatch-wrapper {
	padding: 0;
}

#colorInput::-webkit-color-swatch {
	border: 1px solid var(--border-color);
}

#colorInput::-moz-color-swatch {
	border: 1px solid var(--border-color);
}

#colorInput:not(.active) {
	display: none;
}

.footer {
	font-size: 80%;
	padding: 0.25em 0.5em;
	align-items: center;
}

.footer > * {
	margin: 0 0.5em;
	color: #ccc;
}

.layout2 .footer {
	flex-direction: row-reverse;
}

.spacer {
	flex: 1 1 0;
}

.hidden {
	display: none;
}
